## remove all files in dotfiles
dotfiles/.config/nvim/lazy-lock.json
dotfiles/.config/nvim/lazyvim.json

/dotfiles/*

!/dotfiles/.latexmkrc
!/dotfiles/.p10k.zsh
!/dotfiles/.tmux.conf
!/dotfiles/.zshrc
!/dotfiles/.bashrc


## add need files in .config
!/dotfiles/.config/
/dotfiles/.config/*
!/dotfiles/.config/nvim
!/dotfiles/.config/zsh
!/dotfiles/.config/wezterm
!/dotfiles/.config/neofetch
!/dotfiles/.config/sheldon
!/dotfiles/.config/wandb
!/dotfiles/.config/starship.toml
!/dotfiles/.config/git
!/dotfiles/.config/flake8
!/dotfiles/.config/pep8
!/dotfiles/.config/pycodestyle
!/dotfiles/.config/skhd
!/dotfiles/.config/yabai
!/dotfiles/.config/sketchybar
!/dotfiles/.config/zellij
